[Desktop Entry]
Type=Application
Name=SailSoma
Icon=harbour-sailsoma
Exec=harbour-sailsoma
Comment=Soma.fm client for SailfishOS
X-Nemo-Application-Type=silica-qt5
