[Desktop Entry]
Type=Application
Name=SailSoma
Icon=icon-launcher-default
Exec=invoker --type=silica-qt5 -s /usr/bin/SailSoma
Comment=Sailfish UI application


